@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
#board {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.panel {
  border-radius: 10px;
}

ul {
  list-style: none;
}

.ingredients {
  text-align: center;
}

h1 {
  font-size: 4em;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  color: crimson;
}
